/*
.cloud {
  position: fixed;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border: 5px solid red;
}
*/
body {
  background-color: rgb(122, 114, 245);
}

.cloud {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(146, 238, 223);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  animation: cloud-move 4s ease-in-out infinite;
}

@keyframes cloud-move {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

